$background: rgb(113, 44, 249);
$lightbackground: rgb(113, 44, 249, 0.95);
$color: #222222;
$lightColor: #e4e4e4;
$borderColor: rgba(185, 185, 185, 0.89);
$red: #ff0055;
$shadowColor: rgb(185, 185, 185);
$lightBlue: #3b29e0;
