@import "_colors";
.commentContainer {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 30px 2px;

  .details {
    width: 100%;
    p,
    h5 {
      color: #7e7c7c;
      width: 90%;
      margin: 0 10px;
      font-size: 13px;
      line-height: 24px;
    }
    h5 {
      color: #4b4b4b;
      font-size: 20px;
      &:hover .trashIcon {
        opacity: 1;
      }
    }
  }
}
.input {
  outline: none;
  border: none;
  width: 83%;
  margin: 0 10px;
  background-color: transparent;
  border-bottom: 1px solid #b9b9b9;
  padding: 5px;
  transition: all 0.3s;
  &:focus,
  &:valid {
    border-bottom: 1px solid rgb(121, 121, 121);
  }
}
.profileImage {
  border-radius: 50%;
}
.iconContainer {
  height: 50px;
  width: 50px;
  display: flex;
  outline: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: $background;
  border-radius: 50%;
}
.trashIcon {
  opacity: 0;
  height: 17px;
  cursor: pointer;
  color: #7e7c7c;
}
.icon {
  height: 30px;
  width: 30px;
  color: #fff;
}
@media (max-width: 600px) {
  .input {
    width: 68%;
  }
  .commentContainer {
    margin: 20px auto;
  }
}
