@import "_colors";
.container {
  width: 100%;
  padding: 30px 20px;
  background-color: $background;
  color: $lightColor;
  .innerContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    div {
      width: 250px;
      margin: 10px;
      h1 {
        font-size: 25px;
        padding: 5px 0 15px;
        margin: 10px 0;
        border-bottom: 1px solid $lightColor;
      }
      p {
        font-size: 14px;
        line-height: 30px;
        transition: all 0.2s ease;
        &:hover {
          transform: translate3d(1px, 1px, 1px);
          position: relative;
        }
        a {
          text-decoration: none;
          color: $lightColor;
        }
      }
    }
  }
}
.copyright {
  width: 100%;
  text-align: center;
  background: linear-gradient(to top, $background, $lightbackground);
  color: $lightColor;
  border-top: 0.5px solid $lightColor;
  padding: 20px 0;
  font-size: 14px;
  P {
    opacity: 0.9;
    line-height: 20px;
  }
}
