@import "_colors";
.container {
  width: 100%;
  padding: 0 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  align-items: center;
}
// .light {
//   color: $color;
//   background-color: $lightColor;
// }
// .dark {
//   color: $lightColor;
//   background-color: $color;
// }
// .contrast {
//   color: #fff;
//   background-color: #000;
// }
// .lightblue {
//   color: $lightColor;
//   background-color: $lightBlue;
// }
.rootContainer {
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 550px) {
  .container {
    align-items: flex-start;
    margin-top: 100px;
  }
  .rowInput {
    width: 100%;
  }
}
