@import "_colors";
.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: inherit;
  max-width: 1200px;
  margin: auto;
}
.main {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.swiperContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  max-width: 700px;
  margin: 20px 0;
  width: 100%;
  position: relative;
}
.card {
  max-width: 700px;
  width: 100%;
  h1 {
    margin: 30px 10px;
  }
}
.profileImage {
  border-radius: 50%;
}
.topic {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.image {
  width: 600px;
}
.badge {
  text-decoration: none;
  padding: 10px;
  color: $background;
}
.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  .linkButton {
    background-color: $background;
    border: 1px solid $background;
    color: $lightColor;
    padding: 13px 25px;
    margin: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.timeContainer {
  span {
    opacity: 0.7;
    margin: 0 10px;
  }
}
.profileContainer {
  display: flex;
  align-items: center;

  h2 {
    margin: 0 20px;
  }
}
.descriptionContainer {
  width: 100%;
  margin: 30px 0;
  padding: 0 15px;
  text-align: justify;
  opacity: 0.7;
  line-height: 30px;
  font-size: 15px;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 560px) {
  .h2 {
    display: none;
  }
  .titleContainer {
    justify-content: center;
  }
}
