.container {
  width: 100%;

  .background {
    background-color: #e5e5e5;
    width: 100%;

    margin-top: 130px;
    .innerContainer {
      display: flex;
      justify-content: flex-start;
      max-width: 1200px;
      margin: auto;
      padding: 0 20px;
      width: 100%;

      .rowLeft {
        .p {
          color: #646464;
          max-width: 500px;
          width: 100%;
          line-height: 25px;
          margin: 20px 0;
        }
        margin: 0 40px;
        position: relative;
        top: -100px;
        color: #353535;

        .skills {
          line-height: 25px;
          h2 {
            margin-bottom: 15px;
          }
          p {
            margin: 2px 0 0 20px;
          }
        }
      }
      .rowRight {
        margin-top: 10px;
        .title {
          color: #353535;
          margin: 20px 0;
        }
      }
    }
  }
}
.socialLinksContainer {
  margin: 15px auto;
  line-height: 25px;
  color: #353535;
  .socialIcon {
    height: 14px;
  }
}
.icon {
  height: 20px;
  cursor: pointer;
}
.absoluteTextContainer {
  .image {
    border-radius: 50%;
    margin: auto;
  }
  div {
    color: #353535;
    h2 {
      margin: 10px auto;
    }
    p {
      color: #646464;
      margin-top: 5px;
      font-size: 14px;
    }
  }
}
.portolioContainer {
  display: flex;
  width: 100%;
  margin: 15px 0 5px 5px;
  color: #111;
  .image {
    width: 100px;
    height: 50px;
    background-size: cover;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 0px !important;
      color: #111 !important;
    }
    .link {
      text-decoration: none;
    }
  }
  div {
    margin-left: 10px;
    width: 70%;
  }
}

@media (max-width: 1300px) {
  .innerContainer {
    max-width: 1000px !important;
  }
}
@media (max-width: 1100px) {
  .innerContainer {
    max-width: 800px !important;
  }
}
@media (max-width: 900px) {
  .innerContainer {
    // justify-content: center !important;
    max-width: 100% !important;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .innerContainer {
    justify-content: center !important;
    .rowRight {
      margin-top: -100px !important;
    }
  }
  .absoluteTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
