@import "../../styles/colors";
.container {
  width: 100%;
  padding: 0 0 30px;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      .icon {
        height: 15px;
      }
      margin: 0 5px;
      a {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        background-color: $lightColor;
        color: $background;
        border: 1px solid $background;
        border-radius: 50%;
        text-decoration: none;
      }
      .active {
        background-color: $background;
        color: $lightColor;
      }
    }
  }
}
