@import "../../styles/colors";

.input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: 2px solid $background;
  outline: none;
  border-radius: 10px;
  background: transparent;
}
.input[type="file"] {
  position: relative;
  padding: 8px;
}
.input[type="file"]::after {
  color: #111;
  content: "Rasm(lar)ni tanlang";
  display: inline-block;
  cursor: pointer;
  border-left: 2px solid #645caa;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 11px;
  width: 126px;
}
.input::-webkit-file-upload-button {
  width: 0;
  visibility: hidden;
}
.rowInput {
  width: 49%;
  margin: 8px 2px;
  padding: 10px;
  border: 2px solid $background;
  outline: none;
  border-radius: 10px;
  background: transparent;
}
.formik {
  display: block;
  width: 100%;
}
.area {
  background: transparent;
  width: 100%;
  margin: 8px 0;
  height: 100vh;
  max-height: 90px;
  padding: 10px;
  border: 2px solid $background;
  outline: none;
  border-radius: 10px;
  transition: all 0.2s;
  &:focus {
    max-height: 300px;
  }
}

.button {
  padding: 10px;
  background-color: $background;
  border: none;
  color: $lightColor;
  border-radius: 10px;
  margin: 7px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
